/* ------------- */
/* Style général */
/* ------------- */

body {
    margin: 0;
    background-image: url(../img/background.svg);
    background-size: cover;
    background-attachment: fixed;
    font-family: antic;
    cursor: crosshair;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: Audiowide;
    color: white;
}

p {
    font-family: antic;
    font-size: 30px;
    color: #FFF;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* classe pour les couleurs de span */

.magenta {
    color: #FB12FF;
}

.pink {
    color: #FD7CFF;
}

.purple {
    color: #9A47FF;
}

/* --------------------
----Style du header----
-------------------- */

header {
    padding: 32px 0px;
    display: flex;
    align-items: center;
    gap: 64px;
}

.logo-header {
    width: 6%;
    margin-left: 5%;
}

.name-header {
    font-size: 40px;
}

.link-to-left {
    margin-left: auto;
}

.link-margin {
    margin-right: 5%;
}

.link-header {
    font-size: 16px;
}

.link-header>h2:hover {
    color: magenta;
}