/* Permet de ne pas répéter les transitions dans tout le code */

.sae {
    transition: 0.4s;
}

.zone-sae {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sae-title {
    font-size: 40px;
}

.container-sae {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    margin-left: 128px;
    margin-right: 128px;
}

.sae {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 350px;
    padding: 16px;
    background: rgb(0, 0, 0, 0.1);
    border-radius: 30px;
    backdrop-filter: blur(20px);
}

.sae>p {
    text-align: center;
}

.sae:hover {
    transform: scale(1.1);
}

.competences {
    background-color: #7D005C;
    padding: 16px 64px;
    border-radius: 20px;
    color: #FFF;
    margin-bottom: 32px;
}